.lessonContainer {
    border: 1px solid rgba(231, 231, 231, 1);

    .lesson {
        padding: 11px 16px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        .lessonName {
            flex: 1;
            color: rgba(51, 51, 51, 1);
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 28px;
            user-select: none;
        }
    }

    .taskList {
        position: relative;
        margin: 0 16px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;

        .task {
            padding: 6px 0;
            display: flex;
            flex-direction: column;

            .taskInfo {
                display: flex;
                align-items: center;
                gap: 6px;
            }

            .taskInfo p {
                flex: 1;
                color: rgba(16, 16, 16, 1);
                font-weight: 400;
                font-style: 14px;
                line-height: 26px;
                user-select: none;

            }

            .taskInfo div {
                height: 18px;
                width: 18px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(211, 211, 211, 1);
                font-size: 10px;
                color: rgba(16, 16, 16, 1);
                line-height: 16px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
            }
        }

        .task:last-child img {
            display: none;
        }
    }

    .taskList::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(217, 219, 233, 1);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .open {
        padding: 11px 0;
        max-height: 1000px;
    }

    .closed {
        padding: 0;
        max-height: 0;
    }

    .open.taskList::before {
        opacity: 1;
    }
}

.lessonContainer img {
    user-select: none;
}