.instructors {
    background: rgba(251, 253, 255, 1);
    height: 433px;
    display: flex;
    align-items: center;
    justify-content: center;

    .instructorsContainer {
        display: flex;
        align-items: center;
        gap: 63px;
        width: 85%;
        margin: 0 auto;

        .instructorsLeft {
            width: 40%;
            max-width: 383px;
            display: flex;
            flex-direction: column;
            gap: 17px;

            .instructorsLeftTitle {
                color: rgba(33, 37, 41, 1);
                font-weight: 700;
                line-height: 36px;
                font-size: 28px;

                .instructorsLeftTitleColored {
                    color: rgba(254, 87, 32, 1);
                }
            }

            .instructorsLeftParagraph {
                color: rgba(126, 129, 133, 1);
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
            }

            .instructorsLeftBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                color: rgba(0, 84, 192, 1);
                gap: 6px;
            }
        }

        .instructorsRight {
            width: 65%;
            margin: 0 auto;
            overflow: visible;
            min-height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            .swiperWrapper {
                width: 100%;
                overflow: hidden;
            }

            .swiper {
                padding: 20px 0;
                padding-bottom: 80px;
                height: auto;
                width: 100%;
            }

            .instructorContainer {
                height: 100%;
                width: 100%;
                display: flex;
                padding: 0 5px;
            }

            .swiper {
                padding: 20px 0;
                padding-bottom: 80px;
                height: auto;

            }

            .swiper .swiper-pagination {
                bottom: -40px !important;
            }

            .bullet {
                cursor: pointer;
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                background: rgba(222, 226, 230, 1);
                margin: 0 4px;
                transition: all 0.3s ease;
            }

            .active {
                background-color: rgba(0, 84, 192, 1);
                width: 38px;
                border-radius: 10px;
            }

        }
    }
}


@media (max-width:768px) {
    .instructors {
        height: auto;
        padding: 32px 0;
        .instructorsContainer {
            align-items:flex-start;
            flex-direction: column;
            gap: 0;
            .instructorsLeft{
                width: 100%;
            }
            .instructorsRight{
                width: 100%;
            }
        }
    }
}



@media (max-width:576px){
    .instructors{
        .instructorsRight{
            .swiper-wrapper{
                flex-direction: column !important;
            }
        }
    }
}