.whyChooseUs{
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .whyChooseUsTitle{
        text-align: center;
        font-family: 'Nunito', sans-serif;
        color:rgba(33, 37, 41, 1);
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
    }
    .whyChooseUsDetails{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 24px;
        .whyChooseUsDetailsLeft{
            width: 50%;
            height: 100%;
           .whyChooseUsDetailsLeftBg{
            width: 492px;
            background:url("/images/why-choose-us.png") no-repeat;
            height:492px;
           }
        }
        .whyChooseUsDetailsRight{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
}