.loaderContainer{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.courseApplication{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}