.exploreCoursesHeader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(239, 239, 239, 1);
    padding: 16px 16px 0 16px;
    .exploreCoursesSection{
        padding: 12px 16px;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        line-height:150%;
    }
    .exploreCoursesSectionSelected{
        font-weight: 600;
    }
}