.customers {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    padding: 47px 0px;
    width: 85%;
    margin: 0 auto;
    gap: 43px;
    user-select: none;
    .customersBtnShown{
        display: block;
    }
    .customersBtnHide{
        display: none;
    }

    .customersTop {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .customersTopTitle {
            color: rgba(33, 37, 41, 1);
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            user-select: none;
        }
    }

    .customerLoaderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 78px;
    }

    .customersSliderContainer {
        width: 100%;
        overflow: hidden;
        position: relative;

    }

    .customersSliderTrack {
        display: grid;
        will-change: transform;
        gap: 20px;
    }
}


.customers * {
    user-select: none;
}


@media (max-width:1024px) {
    .customers {
        gap: 24px;
        .customersTop{
            .customersTopTitle{
                font-size: 24px;
            }
        }
        .customersSliderTrack {
            grid-template-columns: repeat(4, 1fr) !important;
            grid-template-rows: repeat(2,1fr);
        }
    }
}


@media (max-width:576px) {
    .customers {
        .customersSliderTrack {
            grid-template-columns: repeat(2, 1fr) !important;
            grid-template-rows: repeat(4,1fr);
        }
    }
}