.details{
    background: url('/images/home-bg.svg') no-repeat;
    height: auto;
    width: 100%;
}

@media(max-width:1024px){
    .details{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}