.details{
    background: #f7f9ff;
    height: auto;
    width: 100%;
    padding:32px 0 48px 0;
}

@media(max-width:1024px){
    .details{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}