  
  .certificateWrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    justify-content: center;
  }
  
  .certificateContainer {
    position: relative;
    background: #f7f9f9;
    width: 1200px;
    height: 760px;
    max-width: 95vw;
    padding: 18px 32px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.07);
    font-family: "Nunito", "Arial", sans-serif;
    overflow: hidden;
  }
  
  .certificateOuterBorder {
    border: 2.3px solid #b2c7eb;
    padding: 5px 12px;
    height: 100%;
  }
  
  .certificateInnerBorder {
    border: 1.5px solid #b2c7eb;
    padding: 7px;
    height: 100%;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 32px;
  }
  
  .logoAndTitle {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  
  .ingress {
    font-weight: 700;
    color: #222;
    letter-spacing: 1px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    line-height: 52px;
    font-weight: 700;
  }
  
  .academy {
    font-weight: 700;
    color: #3f79ff;
    letter-spacing: 1px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    line-height: 52px;
    font-weight: 700;
  }
  
  .slogan {
    font-size: 1.1rem;
    padding: 14px 0 0 2px;
    color: #586268;
    font-weight: 300;
    line-height: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 5px;
  }
  
  .name {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: #222;
    letter-spacing: 2px;
  }
  
  .nameUnderline {
    width: auto;
    margin: 10px 200px 24px;
    height: 4px;
    background: linear-gradient(to right, #b5c7eb, #d6e1f8);
  }
  
  .awardedText {
    text-align: center;
    font-size: 1.4rem;
    color: #555;
    margin-bottom: -8px;
  }
  
  .diploma {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: #0d49cc;
    margin-bottom: 8px;
    letter-spacing: 2px;
  }
  
  .requirements {
    text-align: center;
    font-size: 1.4rem;
    color: #555;
    margin: -16px 0 10px 0;
  }
  
  .course {
    text-align: center;
    font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #002370;
  }
  
  .courseUnderline {
    width: auto;
    margin: 20px 130px 14px;
    height: 2.4px;
    background: linear-gradient(to right, #b5c7eb, #d6e1f8);
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 16px 260px;
  }
  
  .date {
    font-size: 1.6rem;
    color: #454032;
  }
  
  .label {
    font-size: 1.3rem;
    color: #797979;
    margin-top: 2px;
  }

  .signatureBlock {
    text-align: left;
  }
  
  .signature {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    color: #454032;
    margin-bottom: 2px;
  }
  
  .decorTopRight {
    position: absolute;
    background: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url("/images/certificate-decor-top-right.svg");
    right: 46px;
    top: 25px;
    width: 280px;
    height: 310px;
    z-index: 1;
  }
  
  .decorBottomLeft {
    position: absolute;
    background: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url("/images/certificate-decor-bottom-left.svg");
    left: 46px;
    bottom: 25px;
    width: 280px;
    height: 310px;
    z-index: 1;
  }
  
  .qrcode {
    position: absolute;
    background: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url("/images/qr-code.svg");
    right: 60px;
    bottom: 40px;
    width: 140px;
    height: 140px;
    z-index: 1;
  }

  @media (max-width: 768px) {
    .certificate {
      padding: 24px 8px 16px 8px;
      width: 98vw;
    }
    .header {
      margin-bottom: 18px;
    }
    .course {
      font-size: 1.05rem;
    }
  }