.ourCourses {
    padding: 24px 0 40px 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 45px;

    .ourCoursesTitle {
        color: rgba(33, 37, 41, 1);
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
        text-align: center;
    }

    .ourCoursesLoaderContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
    }

    .ourCoursesList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        align-items: stretch;
        gap: 16px;
    }
}


@media (max-width:1024px){
    .ourCourses{
        .ourCoursesList{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media (max-width:768px){
    .ourCourses{
        .ourCoursesList{
            grid-template-columns: 1fr;
        }
    }
}