.filters {
    width: 25%;
    min-width: 250px;
    max-width: 25%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .filterTop {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}