.navbarLeft{
    display: flex;
    align-items: center;
    gap: 14px;
    .navbarLeftButton{
        .navbarLeftButtonContainer{
            display: flex;
            align-items: center;
            border:1px solid #DBDBDB;
            border-radius: 4px;
            background:#FFFFFF;
            padding: 9px 16px;
            gap: 9px;
            cursor: pointer;
            color:#333333;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 700;
        }
        .navbarLeftButtonContainerOpen{
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
        }
    }
}