.contactInfo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 42px;
    padding: 0 40px;

    .contactInfoBox {
        display:flex;
        align-items:center;
        gap: 16px;

        .contactInfoItem{
            display: flex;
            gap: 4px;
            align-items:center;
            padding-right: 16px;
            border-right: 1px solid #DBDBDB;
            

            .contactInfoText{
                font-family: 'Nunito', sans-serif;
                color:#363636;
                font-weight: 300;
                line-height: 20px;
                font-size: 14px;
                
            }
        }
    }
}

