.graduates {
  background-color: #f6f9ff;
  padding: 40px 0 0 0;
}

.graduatesContent {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto 40px auto;
  gap: 64px;
}

.graduatesText {
  max-width: 600px;
  margin-left: 26px;
  padding-left: 12px;
  font-family: "SF Pro", sans-serif;
}

.graduatesText h2 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-top: 75px;
  margin-bottom: 18px;
  line-height: 1.1;
}

.graduatesText .blue {
  color: #023fcb;
}

.graduatesText p {
  font-size: 1.15rem;
  color: #555;
  margin: 0;
  line-height: 1.6;
}

.diamondLayout {
  position: relative;
  width: 340px;
  height: 400px;
  margin-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigDiamond {
  position: absolute;
  left: -19px;
  top: 224.82px;
  width: 177.03px;
  height: 177.03px;
  transform: translateY(-50%) rotate(45deg);
  background: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigDiamondImageWrapper {
  width: 140%;
  height: 140%;
  position: absolute;
  top: -20%;
  left: -20%;
  transform: rotate(-45deg);
}

.bigDiamondImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.smallDiamond {
  position: absolute;
  width: 114.01px;
  height: 114.01px;
  background: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transform: rotate(45deg);
  z-index: 2;
}

.smallDiamondImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transform: rotate(-45deg);
}

/* Positioning the small diamonds */
.topDiamond {
  left: 145.36px;
  top: 68.36px;
}

.rightDiamond {
  left: 232.36px;
  top: 168.36px;
}

.bottomDiamond {
  left: 145.36px;
  bottom: 19.36px;
}
