.header {
    background: white;

    .headerContainer {
        .headerDivider {
            width: 100%;
            height: 1px;
            background: #EAEAEA;
        }
    }
}

@media (max-width:768px) {
    .header {
        .headerContainer {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}