.skeleton {
    flex: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.objImgSkeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 250px;
}

.skeleton img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.skeleton img.loaded {
    opacity: 1;
}

.rounded .objImgSkeleton,
.rounded img {
    border-radius: 50%;
}