.skeleton {
    flex: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.objImgSkeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 250px;
}

.skeleton .objImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.skeleton img.loaded {
    opacity: 1;
}

.homeTitle{
    border-radius:8px;
    object-fit: cover;
    min-height: 340px;
    max-height: 340px;
}

.event{
    min-height: 150px;
    max-height: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
}

@media(max-width:1200px){
    .homeTitle{
        min-height: 300px;
        max-height: 300px;
    }
}
