.advantages {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .advantagesTop {
        color: #003A9D;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
    }
    .advantagesContent{
        display: flex;
        align-items:center;
        gap: 15px;
    }
}