.events {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1216px;
    width: 85%;
    margin: 0 auto;
    padding: 32px 0;

    .eventsTitle {
        color: rgba(33, 37, 41, 1);
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
    }

    .eventsList {
        display: flex;
        gap: 16px;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
    }
}